﻿@Code
    ViewData("Title") = "Home Page"
End Code

<div class="row">
    <div class="col-md-4">
        <h2>360Movil / Prueba</h2>
        <p>
            <form action="/Home/ListContainer" method="post">
                Ingrese EIR : 
                <input name="pEir"  value="000A1"  type="text" size="5" /><br /><br />

                 
                <button class="btn btn-primary" type="submit">
                    Ver Datos
                </button>
            </form>
             
          

        </p>
         
    </div>
   
</div>
