﻿@Code
    ViewData("Title") = "Datos"
End Code

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<style>    body {
        background-color:darkgray;
    }
</style>
<body>
    <h2>@ViewData("Title").</h2>

    <h3>
        EIR  <input type="text" value=@ViewData("eir") /><br />
        Contenedor <input type="text" value=@ViewData("contenedor") /><br />
        Sello <input type="text" value=@ViewData("sello") /> <br />
        Responsable  <input type="text" value=@ViewData("responsable_nombre") /><br />
        Empresa  <input type="text" value=@ViewData("empresa") /> <br />

    </h3>

     

    Listado
    <div>

    </div>
</body>
</html>
